@model MainSlider

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-Title">Create MainSlider</h4>
            <p class="card-description">
                MainSlider Form
            </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control" id="exampleInputUsername1" placeholder="Title...">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" id="exampleInputEmail1" placeholder="Description...">
                </div>

                <button type="submit" class="btn btn-primary mr-2">Create</button>
                <button asp-action="index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
