@model List<MainSlider>;

<h1>MainSlider</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic Table</h4>
        <p class="card-description">
            Add class <code>.table</code>
        </p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var MainSlider in Model)
                    {
                        <tr>
                            <td><img width="130" height="130" style="border-radius:50%" src="~/@MainSlider.ImageUrl"></td>
                            <td>@MainSlider.Title</td>
                            <td>@MainSlider.Description</td>
                            <td>
                                <form asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@MainSlider.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                            <td><a asp-action="update" asp-route-id="@MainSlider.Id" class="btn btn-outline-warning">Update</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


