@model Teachers;

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-Name">Create Teacher</h4>
            <p class="card-Degree">
                Teacher Form
            </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" id="exampleInputUsername1" placeholder="Name...">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Degree">Degree</label>
                    <input asp-for="Degree" class="form-control" id="exampleInputEmail1" placeholder="Degree...">
                </div>

                <button type="submit" class="btn btn-primary mr-2">Create</button>
                <button asp-action="index" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
