@model SignUpViewModel

<!-- Login start -->
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Register</h2>
                            <span>Please register using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <form asp-controller="account" asp-action="SignUp" method="post">
                                <input asp-for="Username" placeholder="UserName...">
                                <input asp-for="Lastname" placeholder="Lastname...">
                                <input asp-for="Fullname" placeholder="FullName...">
                                <input asp-for="Email" placeholder="Email...">
                                <input asp-for="Password" placeholder="Password...">
                                <input asp-for="ConfirmPassword" placeholder="Confirm Password...">
                                <div class="button-box">
                                    <button type="submit" class="default-btn">SignUp</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
